.App {
  flex: 1;
  min-height: 100vh;
  text-align: center;
  background-color: #2b2b2b;
  color: white;
}
.choice-card {
  flex: 1;
  display: flex;
  margin-top : 30px;
  font-size: 3em;
  padding: 0 40px;
  font-weight: 300;
  text-align: center;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
  width: 250px;
  height: 250px;
}
h1 {
  font-size: 50px;
}
.winner {
  color: rgb(116, 105, 221);
  border: 10px solid rgb(116, 105, 221);
}
.loser {
  color: rgb(236, 104, 104);
  border: 10px solid rgb(236, 104, 104);
}

.Tie {
  color: rgb(165, 64, 179);
  border: 10px solid rgb(165, 64, 179);
}
nav {
  background-color : #2b2b2b;
}

.btn {
  margin: 20px;
}

.victory {
  color: rgb(116, 105, 221);
}

.tie {
  color: rgb(165, 64, 179);
}

.defeat {
  color: rgb(236, 104, 104);
}